*{
  margin: 0 ;
  padding:0;
  box-sizing:border-box;
}
:root{
  --gray-color: #303841;
  --red-color: #be3144;
  --blue-color: #45567d;
  --white-color: #f0f0f0;
  --orange-color: #FF8C00;
}
.header{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top:0;
  width: 100%;
  align-items: center;
  padding: 10px 10%;
  background-color: var(  --red-color);
  border-bottom: 2px solid black;
}
#navbar .list{
  list-style: none;
}
#navbar .list .list-item{
  display: inline-block;
  padding: 0px 32px;
  font-size: 32px;
  font-family: Helvetica,sans-serif;
}
#navbar .list .list-item a{
  text-decoration: none;
  color: var(--white-color);
  padding: 11.5px;
}
#navbar .list .list-item a:hover{
  background-color: var(--blue-color);
}
@media only screen and (max-width: 600px){
  #navbar .list .list-item{
    font-size: 15px;
    padding: 0px 10px;

  }
  .welcome-header{
    font-size: 20px;
  }
  .welcome-paragraph{
    font-size: 20px;
  }
  .logo{
    font-size: 30px;
  }
}
@media only screen and (min-width: 600px) {
  #navbar .list .list-item{
    font-size: 20px;
    padding: 0px 20px;

  }
  .welcome-header{
    font-size: 30px;
  }
  .welcome-paragraph{
    font-size: 25px;
  }
  .logo{
    font-size: 50px;
  }

}
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
.welcome-header{
  color: var(--white-color); font-family: 'Press Start 2P', cursive;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}
#welcome-section{
  background-color: var(--gray-color);
  width: 100vw;
  height: 100vh;
  padding: 15% 0;
  text-align:center;
}
.welcome-paragraph{
  font-family: Helvetica, sans-serif;
  font-style: italic;
  color: var(--red-color);
  margin-top: 10px;
}
.logo{
  color:var(--red-color);
  margin-bottom: 15px;
}
#projects{
  background-color: var(--blue-color);
  text-align: center;
}
h3{
  color: var(--white-color);
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}
.project-title{
  border-bottom: 1px solid
}
#projects .project{
  border: 1px solid var(--gray-color);
  margin:30px;
  padding: 20px;
  border-radius: 50px;
  background-color: var(--gray-color);
}
.table{
  display: flex;
  margin: 0px 120px;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  justify-content: center;
}
#projects .project a{
  text-decoration: none;
  color: var(--white-color);
}
#projects .project a:hover::before{
  content: "< ";
  color: var(--orange-color);
}
#projects .project a:hover::after{
  content: " />";
  color: var(--orange-color);
}
.project-paragraph{
  display: inline-block;
  color: var(--orange-color);
  margin: 50px 70px;
}
#profile-link{
  text-decoration: none;
  color: var(--orange-color);
  background-color: var(--gray-color);
  border-radius: 50px;
}
#profile-link:hover{
  color: var(--gray-color);
  background-color: var(--orange-color);
}
#profile{
  background-color: var(--gray-color);
  text-align: center;
}
.social-media{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--red-color);
}
.social-list{
  list-style: none;
}
.social-list li{
  display: inline-block;
  margin: 30px 50px;

}
.social-list li a:hover i{
  color:var(--white-color);
}
.contact-paragraph{
  margin-bottom: 70px;
}
footer{
  background-color: var(--gray-color);
  border-top: 2px solid var(--red-color);
}
footer p{
  text-align: center;
  font-style: italic;
  color: var(--white-color);
  padding: 10px;
}
